.navlink {
  flex: auto;
  display: block;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  margin: 0.25rem;
  text-align: center;
  color: var(--background);
}

.navlink:link {
  background-color: var(--light-base);
}
.navlink:hover {
  background-color: var(--dark-base);
  text-decoration: underline;
}

.activeNav {
  background-color: var(--base-color);
}

.navlink:first-child {
  margin-left: 0px;
}
.navlink:last-of-type {
  margin-right: 0px;
}

.pagelink:link {
  color: var(--light-base);
  cursor: pointer;
}

.pagelink:hover {
  color: var(--darker-base);
}
