@import "tailwindcss";

html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
:root {
  --background: #f2f2fb;
  --foreground: #02001a;

  --darker-base: rgb(9 9 59);
  --dark-base: rgb(26 26 89);
  --base-color: rgb(52 52 119);
  --light-base: rgb(86 86 149);
  --lighter-base: rgb(128 128 179);
}

.dark {
  --background: #02001a;
  --foreground: #f2f3ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02001a;
    --foreground: #f2f3ff;
  }
}

/*body {
  background: white;

  background: var(--background);
  color: var(--foreground);}*/
